{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="container">

      <div class="signup-section">
        <h2>Discover places near you.</h2>
        <a href="{{ url_for('add_user') }}" class="btn-primary">Create User</a>
        <a href="{{ url_for('show_users') }}" class="btn-secondary">See Users</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">About</a>
      </div>

      <div class="signup-section">
        <img src="static/img/device.png">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
